<%- include('header') %>
<main class="mt-20">
  <div class="container">
    <div class="lds-ring d-none" id="preloader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <h1 class="text-center mt-20">Редактор позиций на сайте</h1>
    <div class="update-info mt-20">
      <p>Последняя синхронизация с сайтом: <span id="sync_date"><%= sync_update %></span></p>
      <p>Прайс-лист загружен: <span id="price_date"><%= price_upload %></span></p>
    </div>
    
    <div class="btns-row d-flex">
      <button type="button" class="btn btn-success" id="woo_sync">Получить товары с сайта</button>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Поиск по коду" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Найти</button>
      </form>
    </div>

    <div class="products-list mt-20">

      <table class="table table-bordered">
        <thead>
          <th scope="col" class="text-center" width="10%">Код товара</th>
          <th scope="col" width="10%">Название</th>
          <th scope="col" width="10%">Цена</th>
          <th scope="col" >Категории</th>
        </thead>
        <tbody id="products-table">
          <% products.forEach(product => { %>
            <% const productCats = product.category_ids.split(',').map(Number) %>
            <% const matchedCategories = {} %>
            <% categories.forEach(category => {
                  category.children.forEach(child => {
                      if (productCats.includes(parseInt(child.id))) {
                          if (!matchedCategories[category.name]) {
                              matchedCategories[category.name] = [];
                          }
                          matchedCategories[category.name].push(child.name);
                      }
                  });
              }); 
            %>
        
            <tr>
                <td width="10%"><%= product.inner_id %></td>
                <td width="10%"><%= product.post_title %></td>
                <td width="10%"><%= product.price %></td>
                <td style="max-width: 70%;">
                    <div class="d-flex" style="flex-wrap: wrap; max-width: 100%;">
                        <% for (const categoryName in matchedCategories) { %>
                            <% const childrenNames = matchedCategories[categoryName]; %>
                            <% childrenNames.forEach(childName => { %>
                                <div class="badge text-bg-warning mb-10" style="margin-left: 5px;"><%= categoryName %> <%= childName %></div> 
                            <% }); %>
                        <% } %>
                    </div>
                </td>
            </tr>
        <% }); %>
        </tbody>
      </table>
      <%- include('pagination') %>
    </div>

  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/editor.js"></script>
</body>
</html>