<%- include('header') %>
    <main class="mt-20">
      <div class="container">
        <div class="lds-ring d-none" id="preloader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <h1 class="text-center mt-20">Импорт товаров и обновление цен для сайта</h1>
        <div class="update-info mt-20">
          <p>Последняя синхронизация с сайтом: <span id="sync_date"><%= sync_update %></span></p>
          <p>Прайс-лист загружен: <span id="price_date"><%= price_upload %></span></p>
        </div>
        <div class="alert alert-success alert-dismissible fade show d-none" role="alert" id="success">
          Прайс-лист успешно загружен. Количество товаров: <span id="items_quantity"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show d-none" role="alert" id="success">
          Ошибка при загрузке прайс-листа
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="btns-row d-flex">
          <button type="button" class="btn btn-success" id="woo_sync">Получить товары с сайта</button>
          <input type="file" id="fileInput" class="d-none" />
          <button type="button" class="btn btn-primary" id="upload_price">Загрузить прайс-лист</button>
        </div>

        <% if (compare) { %>
        <div class="price-update-table mt-20">
          <h2 class="text-center">Цены</h2>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" class="text-center">Код товара (прайс/сайт)</th>
                <th scope="col">Название на сайте</th>
                <th scope="col">Название в прайсе</th>
                <th scope="col">Цена на сайте</th>
                <th scope="col">Цена в прайсе</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% compare.forEach(item => { %>
              <tr>
                <th scope="row" class="text-center"><%= item.inner_id %>/<%= item.inner_id_site %></th>
                <td><%= item.site_name %></td>
                <td><%= item.price_name %></td>
                <td><%= item.old_price %></td>
                <td><%= item.new_price %></td>
                <td><button type="button" class="btn btn-info">Обновить</button></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <% } %> <% if (exist) { %> <% let i = 0; %>
        <div class="price-update-table mt-20">
          <h2 class="text-center">Отсутствующие на сайте</h2>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" class="text-center">Код товара</th>
                <th scope="col">Название</th>
                <th scope="col">Цена</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% exist.forEach(item => { %> <% i += 1; %>
              <tr id="<%= item.id %>" class="new-product">
                <th scope="row" class="text-center"><%= item.id %></th>
                <td class="product-name"><%= item.name %></td>
                <td><%= item.price %></td>
                <td>
                  <button type="button" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNewProducts-<%= i %>" aria-expanded="false" aria-controls="collapseNewProducts-<%= i %>">Подробнее <i class="bi bi-arrow-down-square-fill"></i></button>
                </td>
                <td><button type="button" class="btn btn-info">Добавить</button></td>
              </tr>
              <tr class="collapse" id="collapseNewProducts-<%= i %>">
                <td colspan="5">
                  <div class="card card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="productTitle-<%= item.id %>" class="form-label">Название товара</label>
                          <input type="text" class="form-control" id="productTitle-<%= item.id %>" />
                          <div class="form-text">Вы можете изменить название товара если необходимо</div>
                        </div>

                        <div class="mb-3">
                          <label for="productCode-<%= item.id %>" class="form-label">Второй код товара</label>
                          <input type="text" class="form-control" id="productCode-<%= item.id %>" />
                          <div class="form-text">Здесь вы можете задать второй код товара, но если хотите чтобы он создался автоматически оставьте поле пустым</div>
                        </div>

                        <div class="mb-3">
                          <label for="autoBrands-<%= item.id %>" class="form-label">Марка авто</label>
                          <select class="form-select form-select-sm auto-brand-select" id="autoBrands-<%= item.id %>"></select>
                        </div>

                        <div class="mb-3">
                          <label for="autoModels-<%= item.id %>" class="form-label">Модель</label>
                          <select class="form-select form-select-sm" multiple disabled id="autoModels-<%= item.id %>" size="10"></select>
                        </div>

                        <button type="submit" class="btn btn-primary add-category" id="add_btn-<%= item.id %>">Добавить категорию</button>
                        <button type="submit" class="btn btn-success">Обновить товар</button>
                      </div>
                      <div class="col-md-6">
                        <h5 class="text-center">Категории</h5>
                        <div class="categories-flex-edit" id="categories-<%= item.id %>"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <% } %>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/front.js"></script>
  </body>
</html>
